body {
    background-color: darkcyan;
}
.container {
    background-color: bisque;
}
footer {
    background-color: blueviolet;
    color: bisque;
    text-align: center;
}
<!--added flex for ul to create horizontal list-->
<!-- any unordered list inside the nav will have a flex-->
nav ul {
    display: flex;
    display: -webkit-flex;
}

.flex-container {
    display: flex;
    display: -webkit-flex;
    width: 100%;
}



.flex-item {
    margin: 1em;
}